<% provide(:title, "Expenses") %>
<div class="px-8 flex flex-col h-full">
  <div class="flex items-center mb-8 relative z-10">
    <h1 class="font-semibold text-4xl text-blue">Expenses</h1>
  </div>
  <%= form_with model: @transaction, class: "flex flex-col gap-2 w-fit" do |f| %>
    <%= f.hidden_field :ttype, :value => @transaction.ttype %>
    <%= f.label :description, "Description", class: "font-semibold text-2xl" %>
    <%= f.text_field :description, placeholder: "Expense's description", class: "text-black rounded-md border-2 border-gray focus:ring-0 focus:border-blue focus:border-[3px]" %>
    <%= f.label :date, "Date", class: "font-semibold text-2xl" %>
    <%= f.date_field :date, class: "rounded-md px-2 py-2 border-2 border-gray text-sm" %>
    <%= f.label :category, "Category", class: "font-semibold text-2xl" %>
    <%= f.select :category, @categories.map { |category| [category.name] }, class: "w-full text-black" %> 
    <%= f.label :amount, "Amount", class: "font-semibold text-2xl" %>
     <% amount_value = @transaction.amount %>
    <% formatted_amount = amount_value.to_i == amount_value ? amount_value.to_i : "%.2f" % amount_value %>
    <%= f.text_field :amount, value: formatted_amount, placeholder: "Expense's amount", pattern: "[0-9]+", class: "text-black rounded-md border-2 border-gray focus:ring-0 focus:border-blue focus:border-[3px]" %>
    <div class="flex gap-2 mt-4 items-stretch">
      <%= f.submit "Delete",  data: { confirm: "Are you sure you want to delete this expense?" }, class: "bg-red text-white font-semibold px-4 py-2 rounded-md cursor-pointer flex-1 hover:bg-darkred" %>
      <%= f.submit "Update", class: "bg-blue hover:bg-darkblue text-white rounded-md cursor-pointer px-4 py-2 w-full font-semibold flex-1" %>
    </div>
  <% end %>
</div>

<script type="module">
$('#transaction_category').select2({
  tags: true
});
</script>
